<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>
    <script is:inline>
      if (window.location == 'https://aladmit.github.io/summary/2018/11/18/summary-fear-and-hate-devsecops.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2018/Конспект \"Страх и ненависть DevSecOps Шабалин Юрий\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/11/21/summary-devops-moscow-concource.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2018/Конспект \"Concource CI с кубиками на чистом YAML. Максим Залысин\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/11/25/kanban.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2018/Конспект \"Kanban - это не то, что вы привыкли о нем думать. Алексей Пименов\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/23/summary-trunk.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2018/Почему Trunk Based Development - лучшая модель ветвления/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/24/summary-product-owner-and-scrum-master.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2018/Конспект \"Scrum Master и Product Owner – эффективное взаимодействие. Анастасия Маркони\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/25/summary-rsyslog.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2018/Конспект \"Rsyslog как я перестал бояться и полюбил обработку логов. Сергеи Печенко\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/30/summary-community.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2018/Конспект \"Зачем нам нужно сообщество Александр Титов\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/30/summary-enterprise.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2018/Конспект \"Что нужно, чтобы DevOps работал в enterprise компаниях. Никита Борзых\"/"
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/30/summary-solving.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2018/Конспект \"Решение выдуманных проблем реальными способами. Усков Александр\"/"
      }

      if (window.location == 'https://aladmit.github.io/article/2019/01/28/agile-principle-1.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2019/Разбираемся в Agile. Принцип 1/" 
      }

      if (window.location == 'https://aladmit.github.io/summary/2019/02/01/summary-tracing.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2019/Конспект \"Трейсинг распределенных систем. Егор Мыскин\"/"
      }

      if (window.location == 'https://aladmit.github.io/review/2019/03/03/project-to-product.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2019/Project to Product How to Survive and Thrive in the Age of Digital Disruption with the Flow Framework/" 
      }

      if (window.location == 'https://aladmit.github.io/review/2019/03/10/transformational-leadership.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2019/Transformational Leadership/"
      }

      if (window.location == 'https://aladmit.github.io/review/2019/05/19/making-work-visible.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2019/Обзор \"Making Work Visible\"/"
      }

      if (window.location == 'https://aladmit.github.io/review/2019/06/16/making-work-visible.html') {
        window.location = "https://aaleksandrov.me/ru/blog/2019/Обзор \"Making Work Visible\"/"
      }

      if (window.location == 'https://aladmit.github.io/note/2019/09/08/sod-burnout.html') {
        window.location ="https://aaleksandrov.me/ru/blog/2019/Выгорание в State of DevOps 2019/"
      }
    </script>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
