<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>
    <script is:inline>
      if (window.location == 'https://aladmit.github.io/summary/2018/11/18/summary-fear-and-hate-devsecops.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22%D0%A1%D1%82%D1%80%D0%B0%D1%85%20%D0%B8%20%D0%BD%D0%B5%D0%BD%D0%B0%D0%B2%D0%B8%D1%81%D1%82%D1%8C%20DevSecOps%20%D0%A8%D0%B0%D0%B1%D0%B0%D0%BB%D0%B8%D0%BD%20%D0%AE%D1%80%D0%B8%D0%B9%22/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/11/21/summary-devops-moscow-concource.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22Concource%20CI%20%D1%81%20%D0%BA%D1%83%D0%B1%D0%B8%D0%BA%D0%B0%D0%BC%D0%B8%20%D0%BD%D0%B0%20%D1%87%D0%B8%D1%81%D1%82%D0%BE%D0%BC%20YAML.%20%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%20%D0%97%D0%B0%D0%BB%D1%8B%D1%81%D0%B8%D0%BD%22/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/11/25/kanban.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22Kanban%20-%20%D1%8D%D1%82%D0%BE%20%D0%BD%D0%B5%20%D1%82%D0%BE,%20%D1%87%D1%82%D0%BE%20%D0%B2%D1%8B%20%D0%BF%D1%80%D0%B8%D0%B2%D1%8B%D0%BA%D0%BB%D0%B8%20%D0%BE%20%D0%BD%D0%B5%D0%BC%20%D0%B4%D1%83%D0%BC%D0%B0%D1%82%D1%8C.%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B9%20%D0%9F%D0%B8%D0%BC%D0%B5%D0%BD%D0%BE%D0%B2%22/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/23/summary-trunk.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9F%D0%BE%D1%87%D0%B5%D0%BC%D1%83%20Trunk%20Based%20Development%20-%20%D0%BB%D1%83%D1%87%D1%88%D0%B0%D1%8F%20%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%20%D0%B2%D0%B5%D1%82%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/24/summary-product-owner-and-scrum-master.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22Scrum%20Master%20%D0%B8%20Product%20Owner%20%E2%80%93%20%D1%8D%D1%84%D1%84%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D0%B5%20%D0%B2%D0%B7%D0%B0%D0%B8%D0%BC%D0%BE%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D0%B8%D0%B5.%20%D0%90%D0%BD%D0%B0%D1%81%D1%82%D0%B0%D1%81%D0%B8%D1%8F%20%D0%9C%D0%B0%D1%80%D0%BA%D0%BE%D0%BD%D0%B8%22/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/25/summary-rsyslog.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22Rsyslog%20%D0%BA%D0%B0%D0%BA%20%D1%8F%20%D0%BF%D0%B5%D1%80%D0%B5%D1%81%D1%82%D0%B0%D0%BB%20%D0%B1%D0%BE%D1%8F%D1%82%D1%8C%D1%81%D1%8F%20%D0%B8%20%D0%BF%D0%BE%D0%BB%D1%8E%D0%B1%D0%B8%D0%BB%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20%D0%BB%D0%BE%D0%B3%D0%BE%D0%B2.%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B8%20%D0%9F%D0%B5%D1%87%D0%B5%D0%BD%D0%BA%D0%BE%22/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/30/summary-community.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22%D0%97%D0%B0%D1%87%D0%B5%D0%BC%20%D0%BD%D0%B0%D0%BC%20%D0%BD%D1%83%D0%B6%D0%BD%D0%BE%20%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D1%81%D1%82%D0%B2%D0%BE%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%20%D0%A2%D0%B8%D1%82%D0%BE%D0%B2%22/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/30/summary-enterprise.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22%D0%A7%D1%82%D0%BE%20%D0%BD%D1%83%D0%B6%D0%BD%D0%BE,%20%D1%87%D1%82%D0%BE%D0%B1%D1%8B%20DevOps%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%BB%20%D0%B2%20enterprise%20%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D1%8F%D1%85.%20%D0%9D%D0%B8%D0%BA%D0%B8%D1%82%D0%B0%20%D0%91%D0%BE%D1%80%D0%B7%D1%8B%D1%85%22/
      }

      if (window.location == 'https://aladmit.github.io/summary/2018/12/30/summary-solving.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2018/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22%D0%A0%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%D1%8B%D0%B4%D1%83%D0%BC%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%20%D0%BF%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%20%D1%80%D0%B5%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%BC%D0%B8%20%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D0%B0%D0%BC%D0%B8.%20%D0%A3%D1%81%D0%BA%D0%BE%D0%B2%20%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%22/'
      }

      if (window.location == 'https://aladmit.github.io/article/2019/01/28/agile-principle-1.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/%D0%A0%D0%B0%D0%B7%D0%B1%D0%B8%D1%80%D0%B0%D0%B5%D0%BC%D1%81%D1%8F%20%D0%B2%20Agile.%20%D0%9F%D1%80%D0%B8%D0%BD%D1%86%D0%B8%D0%BF%201/'
      }

      if (window.location == 'https://aladmit.github.io/summary/2019/02/01/summary-tracing.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/%D0%9A%D0%BE%D0%BD%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%22%D0%A2%D1%80%D0%B5%D0%B9%D1%81%D0%B8%D0%BD%D0%B3%20%D1%80%D0%B0%D1%81%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8B%D1%85%20%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC.%20%D0%95%D0%B3%D0%BE%D1%80%20%D0%9C%D1%8B%D1%81%D0%BA%D0%B8%D0%BD%22/'
      }

      if (window.location == 'https://aladmit.github.io/review/2019/03/03/project-to-product.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/Project%20to%20Product%20How%20to%20Survive%20and%20Thrive%20in%20the%20Age%20of%20Digital%20Disruption%20with%20the%20Flow%20Framework/'
      }

      if (window.location == 'https://aladmit.github.io/review/2019/03/10/transformational-leadership.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/Transformational%20Leadership/'
      }

      if (window.location == 'https://aladmit.github.io/review/2019/05/19/making-work-visible.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/%D0%9E%D0%B1%D0%B7%D0%BE%D1%80%20%22Making%20Work%20Visible%22/'
      }

      if (window.location == 'https://aladmit.github.io/review/2019/06/16/making-work-visible.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/%D0%9E%D0%B1%D0%B7%D0%BE%D1%80%20%22Making%20Work%20Visible%22/'
      }

      if (window.location == 'https://aladmit.github.io/note/2019/09/08/sod-burnout.html') {
        window.location = 'https://aaleksandrov.me/ru/blog/2019/%D0%92%D1%8B%D0%B3%D0%BE%D1%80%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%B2%20State%20of%20DevOps%202019/'
      }
    </script>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
