// Typography
$font-family-main: Helvetica;
$font-family-headings: Helvetica;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #f0f0f0;
$background-color: #f0f0f0;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #383838;
$selection-color: #D4D4D4; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

//Search color
$search-color: #999;

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #383838;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #f0f0f0;
$header-desc-text-color: #383838;
$header-desc-link-color: #383838;